@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* @font-face {
  font-family: AvenirBlack;
  src:   url("../../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
  font-family: AvenirBlackOblique;
  src: url("../../fonts/AvenirLTStd-BlackOblique.otf") format("opentype");
}

@font-face {
  font-family: AvenirBook;
  src: url("../../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: AvenirBookOblique;
  src: url("../../fonts/AvenirLTStd-BookOblique.otf") format("opentype");
}

@font-face {
  font-family: AvenirHeavy;
  src: url("../../fonts/AvenirLTStd-Heavy.otf") format("opentype");
}

@font-face {
  font-family: AvenirHeavyOblique;
  src: url("../../fonts/AvenirLTStd-HeavyOblique.otf") format("opentype");
}

@font-face {
  font-family: AvenirLight;
  src: url("../../fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
  font-family: AvenirLightOblique;
  src: url("../../fonts/AvenirLTStd-LightOblique.otf") format("opentype");
}

@font-face {
  font-family: AvenirMedium;
  src: url("../../fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: AvenirMediumOblique;
  src: url("../../fonts/AvenirLTStd-MediumOblique.otf") format("opentype");
}

@font-face {
  font-family: AvenirOblique;
  src: url("../../fonts/AvenirLTStd-Oblique.otf") format("opentype");
}

@font-face {
  font-family: AvenirRoman;
  src: url("../../fonts/AvenirLTStd-Roman.otf") format("opentype");
}

* {
  font-family: AvenirMedium;
} */

/* .avenir-font {
  font-family: AvenirMedium;
}

.avenir-font-light {
  font-family: AvenirLight;
}
.avenir-font-black {
  font-family: Avenir;
} */

.text-black {
  color: #1b1b1b;
}

.text-blue {
  color: #1429a4;
}

.text-gris {
  color: #b5b5b7;
}

.bg-colororange {
  background-color: #cc9900;
}
.text-colororange {
  color: #cc9900;
}

.bg-colorblack {
  background-color: #1b1b1b;
}
.bg-colorblue{
    background-color: #1429a4;
}
.bg-colorblacktransparent{
  background-color: rgba(0,0,0,0.3);
}

.bg-colorblacktransparent2{
  background-color: rgba(0,0,0,0.1);
}

.bg-colorgris{
  background-color: #f7f7f7;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalDelete {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-contentDelete {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 20%; 
}


.closeDelete {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeDelete:hover,
.closeDelete:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

